.CardNumber {
    background:transparent;
    width: 90%;
    margin: 10px 0px 5px 0px;
    border-radius: 0.25rem;
    font-size: 18px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    border: 1px solid transparent;
}

.CardNumber h3 {
    margin: auto;
    padding: 15px 5px;
    animation: move-text 2s forwards;
}
@keyframes move-text {
    0% { bottom: -0.2em; opacity: 1; }
    50% { bottom: 0.2em; }
    100% { bottom: 0; opacity: 1; }
}


.Focus {
    border-color: #fefefe;
    transition: 1s;
}