.CardNumber {
    background:transparent;
    width: 90%;
    margin: 10px 0px 5px 0px;
    border-radius: 0.25rem;
    font-size: 24px;
    font-weight: bold;
    border: 1px solid transparent;
}

.CardNumber h3 {
    margin: auto;
    padding: 15px 5px;
}

.Focus {
    border-color: #fefefe;
    transition: 1s;
}