.CardForm {
    width:60%;
    margin: auto;
    background-color: #fefefe;
    box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.5);
    min-height:65vh;
    border-radius: 10px 10px;
    margin-top: -100px;
    padding-top: 100px;
    display: flex;
    flex-flow: column ;
    justify-content: center;
}
.FormContainer {
    display: flex;
    flex-flow: column;
    width: 90%;
    margin: auto;
}
.FieldGroup {
    padding: 10px 0;
    display: flex;
    flex-flow: row wrap;
}

.ExpAndSec{
    display: flex;
    flex-flow: row;
    justify-content: space-between;
}

.ExpAndSec input {
    width: 100%;
}

.Sec {
    width: 30%;
}

label {
    padding-bottom: 5px;
    font-size: 13px;
    width: 100%;
}

input, select {
    margin-top: 3px;
    padding: 15px;
    font-size: 16px;
    width: 100%;
    border-radius: 3px;
    border: 1px solid #dcdcdc;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

select {
    width: 40%;
    margin-right:10px;
}

input[type=submit] {
    background-color: #0055D4;
    color: #fefefe;
}