.Card {
    display: flex;
    flex-flow: column;
    background: rgb(27, 2, 2) url(../../assets/images/card.jpg);
    width: 40%;
    margin: auto;
    height: 220px;
    
    font-family: "Source Sans Pro", sans-serif;
    box-shadow: 0 0 10px 10px rgba(0, 0, 0, 0.1);
    border-radius: 0.5rem;
    
    position: relative;
    color: #fff;
    font: 22px;
    transform: perspective(1000px) rotateY(var(--rotate-y, 0));
    transform-style: preserve-3d;
    transition: 500ms;
}


.Flipped {
    --rotate-y: 180deg; 
}

.Front,
.Back {
    display:flex;
    position:absolute;
    backface-visibility: hidden;
    justify-content: left;
    align-items: center;
    width:100%;
}
.Front {
  flex-flow:row wrap;
  padding: 20px;
}
.Back {
  transform: rotateY(180deg);
  flex-flow:column;
  align-items:start;
  justify-content:left;
}

.Cvv {
    align-self: center;
    width: 90%;
    text-align: right;
    padding-bottom: auto;
    margin-bottom: auto;
}